<div class="rights">
<div class="right">
  <div class="czjl_top"></div>
    <div class="tongtit">
      <div class="xshi">修改银行卡</div>
    </div>

<div class="row" id="content-wrapper">
  <div class="col-xs-12" style="margin-top:120px;">
    <div class="row" style="margin:-10px 0 -30px 20px;">
      <%= form_note_account flash %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-content">
            <%= form_for @bank, :url => account_bank_path(@bank), :html=>{:class => 'form form-horizontal validate-form', :novalidate=>"novalidate"} do |f| %>
              <%= render :partial => "form", :locals => {:f => f} %>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>