.wrapped-content{:style => "min-height: 400px;"}
  .col-xs-12
    = render "/layouts/news_nav_left"
    %section#content{:style => "margin-top: 20px;"}
      .container
        .row.recent-activity
          .box.col-xs-12
            .box-header.blue-background
              .title 公司简介
            .box-content
              %p xxxxxxxxxxxxxxxxx，系xxxxxxxxxxxxxxxxxxxxxxxxxxxxx创办。
              %p 自xxxx年xx月成立至今，xxx的服务已覆盖了全国30余个省的2000多个地区，服务了几十万名客户，成功帮助他们通过信用申请获得融资借款，或通过自主出借获得稳定收益。
              %p 作为中国最早的一批基于互联网的P2P信用借贷服务平台，xxx以其诚信、透明、公平、高效、创新的特征赢得了良好的用户口碑。现在，xxx已成为行业内最具影响力的品牌之一。
              %h3 使命
              %p 实现个人的信用自主和金融自由。
              %h3 愿景
              %p 打造一个人人参与、人人自由、人人平等的互联网个人金融服务平台。
              %h3 核心价值
              %dl
                %dt 释放用户借款和理财的自主权利
                %dd 借款人通过个人信用申请借款，获得资金；理财人通过公开信息自主选择进行投资，获得收益。
                %dt.mt10 建立互联网时代的个人金融风险定价体系
                %dd 通过有效的个人信用模型和大数据挖掘，逐步建立并完善符合时代特征的个人金融风险定价体系。
                %dt.mt10 实现更低借款成本和更稳健投资收益
                %dd
                  受益于精准的个人金融风险定价体系和安全分散有保障的投资机制，借款人和理财人的权益均可得到充分的
                  %br 保障和满足。