<style>
html, body {
height: 100%;
background: #fafafa;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 960px;
}
.ui-left-list > li > a {
border-radius: 0px;
}
.nav-stacked > li + li {
margin-top: 1px;
}
.ui-left-list > li > a:hover, .ui-left-list > li > a:focus {
  color: #fff;
  background-color: #7fd4f3 !important;
}

.ui-left-list > li > a {
text-decoration: none;
background-color: #eeeeee;
}
.ui-sub-list{
  display: none;
}
.box {
background: #fff;
padding: 0px 20px 0px 20px;
border: 1px solid #e0e0e0;
box-shadow: 0 0 2px 1px #efefef;
}
/*.userinfobox {
float: left;
padding: 0px 20px 0px 20px;
width: 758px;
border: 1px solid #E0E0E0;
box-shadow: 0 0 2px 1px #EFEFEF;
}*/
.top-money {
display: block;
float: left;
width: 758px;
padding: 0px;
margin: 0px 0px 10px 0px;
border-bottom: 1px solid #efefef;
}
.top-money li {
display: block;
margin: 0px;
height: 54px;
padding: 0px;
line-height: 54px;
vertical-align: middle;
float: left;
}
.wangcai {
float: left;
width: 355px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}
.f20{
  font-size: 20px;
}
.f12{
  font-size: 12px;
}
.f24{
  font-size: 24px;
}
.org{
  color: #f58708;
}
.mr10{
  margin-right: 10px;
}
.usemoney{
font-size: 18px;
padding-left: 30px;
}
}
</style>
<div class="container_12">
<ol class="breadcrumb" style="background-color: #fafafa; border-radius: 0;">
  <li><a href="#">首页</a></li>
  <li class="active">我的账户</li>
</ol>
<!-- 左边导航开始 -->
  <div class="col-md-2" style="margin:0px; padding:0;">
    <ul class="nav nav-pills nav-stacked ui-left-list">
      <li class="active"><a class="ui-left-item-link" href="#">我的账户</a></li>
      <li><a class="ui-left-item-link">资金管理</a>
        <ul class="nav nav-pills nav-stacked ui-sub-list">
          <li >
            <a  href="/">交易记录</a>
          </li>
          <li >
            <a  href="/">充值</a>
          </li>
          <li >
            <a href="/">提现</a>
          </li>
        </ul>
      </li>
      <li><a class="ui-left-item-link">资金管理</a>
        <ul class="nav nav-pills nav-stacked ui-sub-list">
          <li >
            <a  href="/">交易记录</a>
          </li>
          <li >
            <a  href="/">充值</a>
          </li>
          <li >
            <a href="/">提现</a>
          </li>
        </ul>
      </li>
      <li><a class="ui-left-item-link">资金管理</a>
        <ul class="nav nav-pills nav-stacked ui-sub-list">
          <li >
            <a  href="/">交易记录</a>
          </li>
          <li >
            <a  href="/">充值</a>
          </li>
          <li >
            <a href="/">提现</a>
          </li>
        </ul>
      </li>
      <li><a class="ui-left-item-link">资金管理</a>
        <ul class="nav nav-pills nav-stacked ui-sub-list">
          <li >
            <a  href="/">交易记录</a>
          </li>
          <li >
            <a  href="/">充值</a>
          </li>
          <li >
            <a href="/">提现</a>
          </li>
        </ul>
      </li>
      <li><a class="ui-left-item-link">资金管理</a>
        <ul class="nav nav-pills nav-stacked ui-sub-list">
          <li >
            <a  href="/">交易记录</a>
          </li>
          <li >
            <a  href="/">充值</a>
          </li>
          <li >
            <a href="/">提现</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<!-- 左边导航结束 -->
<div class="col-md-10" style="padding-right: 0;">
  <div class="box" style="height:auto">
    <div class="userinfobox">
              <ul class="top-money">
                    <li><span id="hello_time">您好，</span></li>
                    <li class="wangcai"><span class="f20 mr10" id="uname">yanmiao874</span><a class="f12 blue" target="_blank" href="account-vip.html"><span id="vip_msg" style="">成为VIP，尊享更多特权和保障</span></a></li>
                <li><span class="usemoney">账户余额：</span></li>
                <li><span class="f24 org" id="useMoney">0.00元</span></li>
              </ul><!--top-money-->
            <div class="div_clb"></div>
                        <div class="user-avatar-container">
                          <img id="head_pic" src="static/img/pic/default_head_img.jpg" width="112" height="112"><!--<a href="#"></a>-->
                          <!--<a href="#"><img src="static/img/pic/avatar.jpg" /></a>-->
                        </div>
                        <div class="col-md-4">
                          <div class="user-info-safe">
                              <!--<p>安全等级：<a href="account-safe.html"><img src="static/img/icon/safe.jpg" /></a></p>-->
               <ul class="investGradeUl">
      <li class="investGradeL01 lipad0000"><p class="invP">投资等级：<span id="invest-lv"><a href="/account-tender-integral.html" class="blue invest-lv Xinshou" title="投资新手:0分"></a><span class="ruit">投资新手</span></span><span class="bracket">(</span><span class="totCredit" id="totCredit"><span title="可用积分">0</span></span><span class="bracket">)</span></p></li>
                     <li class="investGradeL02 lipad1010"><a class="recharge txtC f16" href="account-recharge.html">充值</a><a class="cash txtC f16 ml20" href="account-cash.html">提现</a></li>
                     <li class="lipad1010"><a href="account-safe.html"><img id="real_img" title="实名认证,未认证" src="static/img/icon/real-no.png"></a>
                                  <a href="account-safe.html"><img id="email_img" title="邮箱认证,已认证" src="static/img/icon/email.png"></a>
                                    <a href="account-safe.html"><img id="phone_img" title="手机认证,未认证" src="static/img/icon/phone-no.png"></a>
                                  <a href="account-safe.html"><img id="ppd_img" title="提现密码,未设置" src="static/img/icon/tender-psw-no.png"></a>
                                    <a href="account-vip.html"><img id="vip_img" title="VIP,未认证" src="static/img/icon/vip-no.jpg"></a>
                                    <!-- <a href="account-safe.html"> <img id="video_img" title="视频认证，未认证" src="static/img/icon/video-no.png" /></a>
                                    <a href="account-safe.html"> <img id="scene_img" title="现场认证，未认证" src="static/img/icon/scene-no.png" /></a>-->
                </li>
               </ul>

                            </div>
                            <div class="user-info-cash">

                                <p class="e7 mb10 uicp"><span class="money mr10 w120"><span>冻结金额</span><br><span id="smallNoUseMoney">0.00元</span></span> <span class="money w120"><span>可用金额</span><br><span id="smallUseMoney">0.00元</span></span></p>
                                <p class="e9 uicp"><span class="money mr10 w120"><span>今日待收</span><br><span id="lately_collection">0.00元</span></span> <span class="money w120"><span>今日待还</span><br><span id="lately_repayment">0.00元</span></span></p>
                            </div>
                        </div><!-- user-info-container fn-clear pt20 -->
                    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".ui-left-item-link").click(function(){
      var obj = $(this).next();
      obj.toggle();
    })
  })
</script>