<h2 style='padding-top:50px'>重新发送验证信息</h2>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'validate-form' }) do |f| %>
  <%= devise_error_messages! %>

  		<%= f.email_field :email, autofocus: true, placeholder: "请输入邮箱", class: "form-control", 'data-required' => true, 'data-rule-email' => true %>

  <%= f.submit "发送邮件", class: "btn btn-block" %>
<% end %>