.wrapped-content{:style => "min-height: 400px;"}
  .col-xs-12
    %h2
      新手指引
    .box
      .box-header
        %h4 我要理财
      .box-content
        %p 是目前中国互联网金融中P2P信贷行业的领军企业，是一个以个人对个人小额借贷为主要产品，为借贷两端搭建的公平、透明、安全、高效的互联网金融服务平台。借款用户可以在xxxx上获得信用评级、发布借款请求来实现个人快捷的融资需要；理财用户可以把自己的部分闲余资金通过xxxx平台出借给信用良好有资金需求的个人，在获得有保障，高收益的理财回报的同时帮助了优质的借款人。
        %p 自xxxx年xx月成立至今，xxx的服务已覆盖了全国30余个省的2000多个地区，服务了几十万名客户，成功帮助他们通过信用申请获得融资借款，或通过自主出借获得稳定收益。
        %p 作为中国最早的一批基于互联网的P2P信用借贷服务平台，xxx以其诚信、透明、公平、高效、创新的特征赢得了良好的用户口碑。现在，xxx已成为行业内最具影响力的品牌之一。
    .box
      .box-header
        %h4 我要借款
      .box-content
        %p 是目前中国互联网金融中P2P信贷行业的领军企业，是一个以个人对个人小额借贷为主要产品，为借贷两端搭建的公平、透明、安全、高效的互联网金融服务平台。借款用户可以在xxxx上获得信用评级、发布借款请求来实现个人快捷的融资需要；理财用户可以把自己的部分闲余资金通过xxxx平台出借给信用良好有资金需求的个人，在获得有保障，高收益的理财回报的同时帮助了优质的借款人。